/* ./css/desktop.css */

.container {
    border: 3px solid #d291bc;
    margin: 0 auto;
    max-width: 1360px;
    height: 100%;
    min-height: 50px;
}

header + .container {
    display: flex;
}

main {
    width: 70%;
}

section {
    width: 30%;
    display: block;
}

section > article {
    margin: 20px;
    width: calc(100% - 40px);
}